@charset "UTF-8";
@font-face {
    font-family: 'FiraSans-Regular';
    src: url("../fonts/fira-sans/FiraSans-Regular.ttf");
}
@font-face {
    font-family: 'Rammetto-One-Regular';
    src: url("../fonts/rammetto-one/RammettoOne-Regular.ttf");
}
body {
    background-image: url("../images/fundo-pata.png");
    background-repeat: repeat;
    font-family: 'FiraSans-Regular', Helvetica;
}
header {
    text-align: center;
    background-color: rgba(0, 170, 0, 0.7);
    font-family: 'Rammetto-One-Regular', Helvetica;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px #000000;
    padding: 3px 15px;
    border-radius: 20px;
    margin: 10px;
}
header h1 {
    -webkit-text-stroke: 0.2px #006d05;
    letter-spacing: 2px;
    text-transform: uppercase;
}
div#mensagem-inicial {
    text-align: center;
    font-size: 10px;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 1px #000000, 
    -1px 1px 1px #000000,
     1px -1px 1px #000000,
     1px 0px 1px #000000;
    background-color: rgba(83, 221, 83, 0.9);
    padding: 5px 10px;
    margin: 10px -20px;
}
nav#menu {
    display: block;
    border-radius: 10px;
    background-color: rgba(0, 88, 0, 0.5);
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
}
nav#menu li {
    display: inline-block;
    transition: background-color 0.5s;
}
nav#menu li:hover {
    background-color: #0e5200;
}
nav#menu a {
    color: rgb(255, 238, 0);
    text-decoration: none;
    padding: 0px 10px;
}
nav#menu a:hover {
    color: #ff0000;
}
section {
    background-color: rgba(236, 236, 236, 0.9);
    padding: 5px 10px 10px 10px;
    border-radius: 20px;
    margin: 10px;
}
section h2 {
    font-family: 'Rammetto-One-Regular', Helvetica;
    font-size: 20px;
    color: rgb(41, 113, 180);
}
section.principal-animais {
    padding-bottom: 20px;
}
img.imagem-principal {
    margin: 20px 5px;
    border-radius: 20px;
}
ul.lista-principal {
    margin: 0;
    padding: 0 0 0 20px;
    position: absolute;
    display: inline-block;
    list-style-type: none;
}
a.link-secao {
    background-color: rgba(0, 170, 0, 0.6);
    color: #ffffff;
    text-shadow: 0px 0px 5px #000000;
    padding: 5px;
    border-radius: 5px;
    outline: solid 1px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    transition: background-color 0.5s;
}
a.link-secao:hover {
    background-color: rgba(26, 158, 0, 0.8);
    outline: 1px solid rgba(255, 255, 255, 0.4);
}
figure.imagem-animal img {
    border-radius: 10px;
}
figure.imagem-animal {
    margin: 0;
    position: relative;
    padding: 0 0 10px 0;
}
figure.imagem-animal figcaption {
    font-size: 12px;
    opacity: 0;
    position: absolute;
}
figure.imagem-animal:hover figcaption {
    opacity: 1;
}
div#video-responsivo {
    position: relative;
    padding-bottom: 350px; 
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
}
iframe {
    border-radius: 10px;
    position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 400px;
}
video {
    border-radius: 10px;
}
table#caracteristicas {
    background-color: rgba(15, 128, 0, 0.7);
    color: rgba(255, 255, 255, 1);
    margin: 20px;
}
table#caracteristicas td {
    padding: 10px;
    text-align: center;
    vertical-align: top;
}
table#caracteristicas td.ce {
    background-color: rgba(0, 95, 48, 0.3);
    text-align: right;
}
table#caracteristicas td.cd {
    background-color: rgba(38, 255, 146, 0.3);
    text-align: left;
}
footer#rodape {
    font-size: 12px;
    margin: 10px;
    background-color: rgba(236, 236, 236, 0.7);
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 0px 10px #009113;
}